.container__log{
    width:80%;
    background-color: #CDD8E1;
    padding:20px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    height: fit-content;
    min-height: 300px;
    max-height: 700px;
    overflow: auto;
}

.bar__log{
    width: 100%;
    display:flex;
}
.contentBox__log{
    width: 100%;
    margin:10px 0;
}

.mainContent__log{
    display:flex;
    justify-content: space-between;
    margin:5px 0;
    width: 100%;
    border:1px solid black
}

.button__log{
    width: 50%;
    border:1px solid black;
    cursor: pointer;
}

.button__log:hover{
    background-color: #3c6084;
    color:white
}

.button__active{
    width: 50%;
    border:1px solid black;
    cursor: pointer;
    background-color: #3c6084;
    color:white

}

.notfound__log{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}