.container__sidebar{
    position:'absolute';
    margin: 0 20px;
    display:flex;
    flex-direction: column;
    width: 20%;
    min-height: 300px;
    height: fit-content;
    max-height: 900px;
    padding:20px 0;
    background-color: rgb(136, 136, 136);
    align-items: center;
    justify-content: flex-start;
    overflow:scroll;
}

.content__shop{
    margin-top: 10px;
    width: 80%;
    text-align: center;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
}