.contianer__edit{
    width: 50%;
    margin:50px auto;
    padding :30px;
    display:flex;
    flex-direction: column; 
    justify-content: center; 
}

.checkbok__edit{
 display: flex;
 align-items: center;
}

.image__edit{
    width: 30%;
    height: 30%;
    margin:10px auto;
}

