.icon{
    font-size: 50px;
    text-shadow: -1px 1px 10px rgba(0, 0, 0, 0.75);
    margin-left:10px;
    font-weight: bold;
    cursor: pointer;
}
.icon:hover{
    font-size: 60px;
    color:rgba(0, 0, 0, 0.6)
}