.container__staff{
    min-height: 300px;
    max-height: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.block__staff{
    position: relative;
    min-height: 300px;
    height: 100%;
    max-height: 700px;
    width: 100%;
    background-color: #dab388;
    min-width: 200px;
    box-shadow: 0px 1px 10px #8b582a;
    margin:0 20px;
    overflow: scroll;
    padding: 40px 50px;
    flex:0.7;
    border-radius: 5px;
    margin:10px 10px;
    font-weight: bold;

}

.title__staff{
    position:absolute;
    padding:5px;
    width: 100%;
    height: fit-content;
    top: 0;
    left: 0;
    color:white;
    text-align: center;
    background-color:#8b582a;
}

.content__staff{
    width:100%;
    display:flex;
    flex-direction: row;
    margin:20px 0;
    justify-content:space-between;
    align-items: center;
    box-shadow: 0px 5px 10px #8b582a;
    height: 40px;
    background-color: #8b582a    ;
    color:white;
    padding: 0 10px
}

.button__staff{
    cursor: pointer;
    overflow: hidden;
}

.button__staff:hover{
    height: 45px;
    width: 45px;
}

.missing_staff{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:25px
}