.container__order{
    margin:0 auto;
    background-color: #CDD8E1;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    min-height: 350px;
    max-height: 800px;
    height: fit-content;
}

.detail__image{
    width: 30%;
    height: 30%;
}

.empty__order{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    margin:0 auto;
}


.status__order{
    display:flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}